.find{
    width: 70%;
    height: 70px;
    box-shadow: 0 10px 0 0 #91d4b7;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border-radius: 50px;
    background-color: white;
    color: black;
}

.find_section{
    width: 20%;
    padding: 20px 20px;
}

.find_section p{
    width: 100%;
    margin: 0;
}

.find_button{
    width: 130px;
    height: fit-content;
    margin: auto 10px;
    padding: 10px 0;
    background-color: #24ab70;
    border-radius: 25px;
    cursor: pointer;
    transform: translateX(40px);
}

.find_button:hover{
    background-color: #1a8154;
}

.find_button div{
    text-align: center;
    color: white;
    font-weight: 5 00;
}